/*header*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Mega', sans-serif;
} 

.logo img{
    width: 200px;
    height:150px;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}

nav ul{
    display:inline-block;
    list-style-type:none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:#555;
}

p{
    color:#555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis:50%;
    min-width: 300px;
}

.col-2 img{
    max-width:100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin-right: 15px 0; 
    border-radius: 15px;
    
}

.btn:hover{
    background: #553636;
}

.header{
    background: radial-gradient(#fff,#ff6f61);
}

.recommended{
    margin: 70px 0;
}

.items{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.items img{
    width: 100%;
}

/*body*/
.container2{
    max-width: 1080px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translate(-5px);
}

/*footer*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    background-color: transparent;
}

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 120px;
        left: 0;
        background: transparent;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        background-color: black;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .cart-info p{
        display: none;
    }
}

.outter-container{
    padding: 50px 0;
    background: radial-gradient(#fff,#ff6f61);
}

.big-box{
    background: transparent;
    margin: auto;
    width: 80%;
    height: 600px;
    border: 1px white solid;
    border-radius: 20px;
}
.left-box{
    background-color: rgb(255, 255, 255, 0.8);

    /* background: transparent; */
    border-radius: 20px 0px 0px 20px;
    text-align: left;
    justify-items: start;
    float: left;
    width: 70%;
    height: 100%;
}
.right-box{    
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 0px 20px 20px 0px;
    float:right;
    width: 30%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 50px;
}

.title{
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.game-img{
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    object-fit: cover;
    
}
.buy-btn{
    background-color: #ff6f61;
    font: white;
    font-weight: bold;
    padding: 20px 20px;
    width: 240px;
    border: 1px white solid;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40%;
    /* margin: auto 0; */
    transition: transform 0.5s;
}
.buy-btn:hover {
    opacity: 0.7;
    transform: scale(1.05, 1.05);
}
.game-detail{
    font-family: brutal, sans-serif;
    padding: 16px;
    border-bottom: solid;
    border-width: 2px;
    text-align: left;
    font-size: 14px;
    color: #8a8a8a;
}
h3{
    display: inline-block;
    
}